.post {
    color: #fff;
    background-color: #284b85;
    padding: 2rem;
    border-radius: .4rem;
    margin: 1.2rem 0;
    font-size: 1.2rem;
}

.post a {
    text-decoration: none;
    color: #3da8ff;
}

span.likes {
    display: block;
}